<div class="container is-fluid">
    <div class="columns">
        <div class="column"></div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-vertical">
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <h1 class="title" data-trn>User List</h1>
                            <h2 class="subtitle" data-trn>wizard.user.list.subtitle</h2>
                            <div class="content">
                                <button class="button is-rounded is-warning is-pulled-right is-shadow-1">
                                    <span class="icon">
                                        <i class="fa fa-superpowers" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container is-fluid">
    <div class="columns">
        <div class="column"></div>
    </div>
    <div class="columns">
        <div class="column">
            <!-- Main container -->
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input is-rounded search-field" type="search" size="50"
                                    placeholder="Find a user enter email, phone, name" data-trn>
                            </p>
                            <p class="control">
                                <button class="button is-rounded is-info input-button" data-trn
                                    data-loading>Search</button>
                            </p>
                        </div>
                    </div>
                    <div class="level-item">
                        <p class="subtitle is-5"><strong data-field-total>000</strong> <span data-trn>total</span></p>
                    </div>
                </div>

                <!-- Right side -->
                <!-- <div class="level-right">
                    <p class="level-item"><strong>All</strong></p>
                    <p class="level-item"><a>Published</a></p>
                    <p class="level-item"><a>Drafts</a></p>
                    <p class="level-item"><a>Deleted</a></p>
                    <p class="level-item"><a class="button is-success" data-trn>New</a></p>
                </div> -->
            </nav>
        </div>
    </div>

    <!-- Header -->
    <div class="columns is-marginless has-background-light sort-table-header">
        <div class="column is-3">
            <a href="#" data-bind-clkcb="sortByName">
                <strong data-trn>Name</strong>
                <span class="icon">
                    <i class="fa"></i>
                </span>
            </a>
        </div>
        <div class="column is-3">
            <a href="#" data-bind-clkcb="sortByEmail">
                <strong data-trn>Email</strong>
                <span class="icon">
                    <i class="fa"></i>
                </span>
            </a>
        </div>
        <div class="column is-2">
            <a href="#" data-bind-clkcb="sortByCreated">
                <strong data-trn>Registered</strong>
                <span class="icon">
                    <i class="fa"></i>
                </span>
            </a>
        </div>
        <div class="column is-2"><strong data-trn>Devices</strong></div>
        <div class="column is-2"><strong data-trn>Action</strong></div>
    </div>

    <!-- Rows -->
    <div class="user-list" ref="user-list">
    </div>


    <!-- Pagination -->
    <div class="columns is-marginless is-paddingless">
        <div class="column">
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                <div class="select select-pagesize is-rounded">
                    <select>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <a class="pagination-previous" title="This is the first page" disabled data-trn>Previous</a>
                <a class="pagination-next" data-trn disabled>Next</a>
                <ul class="pagination-list" ref="pagination-list">

                </ul>
            </nav>
        </div>
        <div></div>
    </div>

</div>

<div id="modal-placeholder" class="modal-placeholder"></div>
<div id="details-panel-placeholder"></div>