<div class="modal is-clipped">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>User Delete</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="remove-user" id="remove-user" value="0" checked>
                        <span data-trn>text.user.deleteuserandkeepdevices</span>
                    </label>
                    
                    <p class="help" data-trn>text.user.deleteuserandkeepdevices.help</p>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="remove-user"  id="remove-user" value="1" >
                        <span class="has-text-danger" data-trn>text.user.deleteuseranddeletedevices</span>
                    </label>
                    
                    <p class="help" data-trn>text.user.deleteuseranddeletedevices.help</p>
                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-rounded" data-loading data-click-event="deleteButton"
                data-trn>Delete</button>
            <button class="button is-rounded close-button" data-click-event="cancelButton"
                data-trn>Cancel</button>
        </footer>
    </div>
</div>