<div class="modal is-clipped">
        <div class="modal-background close-button"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <span class="modal-card-title">
                    <span data-trn>Transactions View</span> -
                    <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
                </span>
                <button class="delete close-button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column is-1"><strong>#</strong></div>
                    <div class="column is-2"><strong>Status</strong></div>
                    <div class="column is-9"><strong>Meta</strong></div>
                </div>
                <div ref="transactions-list">

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-rounded" data-loading data-click-event="okButton"
                    data-trn>OK</button>
    
            </footer>
        </div>
    </div>