<div class="modal is-clipped">
    <div class="modal-background close-button"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>Transactions View</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns has-background-light">
                <div class="column">
                    <div class="field">
                        <label class="label" data-trn>Status</label>
                    </div>
                    <div class="field has-addons">
                        <p class="control">
                            <span class="select is-rounded">
                                <select ref="select-status">
                                    <option value="delivered">Delivered</option>
                                    <option value="installed">Installed</option>
                                    <option value="note">Note</option>
                                </select>
                            </span>
                        </p>
                        <p class="control is-expanded">
                            <input class="input is-rounded" type="text" placeholder="Say something" ref="input-note"
                                data-trn>
                        </p>
                        <p class="control">
                            <a class="button is-success is-rounded" data-loading ref="add-note" data-trn>
                                Add
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="columns has-background-light">
                <!-- <div class="column is-1"><strong>#</strong></div> -->
                <div class="column is-3"><strong data-trn>Status</strong></div>
                <div class="column is-5"><strong data-trn>Meta</strong></div>
                <div class="column is-3"><strong data-trn>Date</strong></div>
            </div>
            <div ref="transactions-list">

            </div>



        </section>
        <footer class="modal-card-foot">
            <button class="button is-warning is-rounded" data-click-event="okButton" data-trn>OK</button>
        </footer>
    </div>
</div>