<div class="modal is-clipped">
    <div class="modal-background close-button"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>User Disable</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h2 class="subtitle"><strong><span data-trn>Short information</span>:</strong></h2>
            <ul>
                <li>
                    <span data-trn>This user data will be kept, but they won't login.</span>
                </li>
                <li>&nbsp;</li>
                <li>
                    <span data-trn>Disabled user can be restored as long as they're not deleted.</span>
                </li>


            </ul>


        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-rounded" data-loading data-click-event="disableButton"
                data-trn>Disable</button>
            <button class="button is-rounded close-button" data-click-event="cancelButton"
                data-trn>Cancel</button>

        </footer>
    </div>
</div>