<div class="modal is-clipped">
    <div class="modal-background close-button"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>Products View</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <strong class="is-size-5" data-trn>Shipping Address</strong>
            <ul>
                <li><span data-field-name></span>&nbsp;<span data-field-id></span></li>
                <li><span data-field-address></span></li>
                <li><span data-field-city></span></li>
                <li><span data-field-phone></span></li>
                <li><span data-field-email></span></li>
            </ul>
            <hr>
            <div class="columns">
                <div class="column">
                    <strong class="is-size-5" data-trn>Product List</strong>
                </div>
            </div>
            <div class="columns has-background-light">
                <div class="column is-4"><strong data-trn>Description</strong></div>
                <div class="column is-4"><strong data-trn>Quantity</strong></div>
                <div class="column is-4"><strong data-trn>Price</strong></div>
            </div>
            <div ref="product-list">

            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-warning is-rounded" data-click-event="okButton" data-trn>OK</button>
        </footer>
    </div>
</div>