<div class="modal is-clipped">
        <div class="modal-background close-button"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <span class="modal-card-title">
                    <span data-trn>User Enable</span> -
                    <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
                </span>
                <button class="delete close-button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <h2 class="subtitle"><strong data-trn>Are you sure you would like to reactivate this user?</strong></h2>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-rounded" data-loading data-click-event="enableButton"
                    data-trn>Enable</button>
                <button class="button is-rounded close-button" data-loading data-click-event="cancelButton"
                    data-trn>Cancel</button>
    
            </footer>
        </div>
    </div>