<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>Reset Password</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <!-- New Password -->
            <div class="field">
                <label class="label" data-trn>New Password</label>
                <div class="field has-addons">

                    <p class="control">
                        <input class="input" type="text" size="40" placeholder="New Password" id="user-newpassword"
                            data-field-user-newpassword data-trn>
                    </p>
                    <p class="control">
                        <button class="button is-rounded is-info generate-button" data-trn>Generate</button>
                    </p>
                </div>
                <p class="help" data-trn>User password must be at least 8 characters long and unique. Note that longer is better; have both uppercase and lowercase letters; also have digits and/or punctuation</p>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success is-rounded" data-loading data-click-event="saveButton"
                data-trn>Save</button>
            <button class="button is-rounded close-button" data-click-event="cancelButton"
                data-trn>Cancel</button>
        </footer>
    </div>
</div>