<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <span class="modal-card-title">
                <span data-trn>User Edit</span> -
                <span class="subtitle"><strong data-field-name>&nbsp;</strong></span>
            </span>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <!-- Name -->
            <div class="field">
                <label class="label" data-trn>Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Full Name" id="user-name" data-field-user-name
                        data-trn>
                    <p class="help" data-trn>Full name of the user. Do not confuse this with the device name!</p>
                </div>
            </div>

            <!-- Email/Phone -->
            <div class="field">
                <label class="label" data-trn>Email/Phone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Email or Phone" id="user-emailphone"
                        data-field-user-emailphone data-trn>
                    <p class="help" data-trn>User email address or phone number. Phone number should require a country
                        code. e.g (for Georgia +995)
                    </p>
                </div>
            </div>

            <!-- Access Type -->
            <div class="field">
                <label class="label" data-trn>Access Type</label>
                <div class="control">
                    <div class="select">
                        <select class="select-access-type" id="user-accesstype" data-field-user-accesstype>
                            <option value="user">User</option>
                            <option value="mostat_admin">Mostat Admin</option>
                        </select>
                    </div>
                    <p class="help" data-trn>This is a user access type. There are currently two types of users -
                        Regular user (user) and administrator (mostat_admin)
                    </p>
                </div>
            </div>


            <hr>
            <div class="field is-horizontal">
                <div class="field-body">
                    <p class="help"><strong data-trn>The fields below are user contact information and not used in the
                            system.</strong></p>
                </div>
            </div>


            <div class="field">
                <div class="field-body">

                    <!-- First Name -->
                    <div class="field">
                        <label class="label" data-trn>First Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name" id="user-firstname"
                                data-field-user-firstname data-trn>
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="field">
                        <label class="label" data-trn>Last Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name" id="user-lastname"
                                data-field-user-lastname data-trn>
                        </div>
                    </div>

                </div>

            </div>

            <div class="field">
                <div class="field-body">

                    <!-- Email address -->
                    <div class="field">
                        <label class="label" data-trn>Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Email" id="user-email" data-field-user-email
                                data-trn>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="field">
                        <label class="label" data-trn>Phone Number</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Phone Number" id="user-phonenumber"
                                data-field-user-phonenumber data-trn>
                        </div>
                    </div>

                </div>
                <p class="help" data-trn>User email address and phone number field. Phone number should require a
                    country
                    code. e.g (for Georgia +995)</p>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <!-- Street Address -->
                    <div class="field">
                        <label class="label" data-trn>Street Address</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Street Address" id="user-streetaddress"
                                data-field-user-streetaddress data-trn>
                        </div>
                    </div>

                    <!-- Address Line 2 -->
                    <div class="field">
                        <label class="label" data-trn>Address line 2</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Address line 2" id="user-addressline2"
                                data-field-user-addressline2 data-trn>

                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">

                    <!-- City -->
                    <div class="field">
                        <label class="label" data-trn>City</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="City" id="user-city" data-field-user-city
                                data-trn>
                        </div>
                    </div>

                    <!-- Region/Province/State -->
                    <div class="field">
                        <label class="label" data-trn>Region/Province/State</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Region/Province/State"
                                id="user-regionprovincestate" data-field-user-regionprovincestate data-trn>
                        </div>
                    </div>

                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">

                    <!-- Zip Code -->
                    <div class="field">
                        <label class="label" data-trn>Zip Code</label>
                        <div class="control">
                            <input class="input" type="text" size="10" placeholder="Zip Code" id="user-zipcode"
                                data-field-user-zipcode data-trn>
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="field">
                        <label class="label" data-trn>Country</label>
                        <div class="control">
                            <div class="select">
                                <select class="select-country" id="user-country" data-field-user-country>
                                    <option value="Georgia">Georgia</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success is-rounded" data-loading data-click-event="saveButton"
                data-trn>Save</button>
            <button class="button is-rounded close-button" data-click-event="cancelButton" data-trn>Cancel</button>
        </footer>
    </div>
</div>