@import "../../_variables.scss";

.editor-view {
  padding: 30px;
  overflow-y: scroll;
  height: 100vh;

  .icon-bar {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 1001;

    width: 90px;
    background-color: #555;
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }

  .icon-bar a:hover {
    background-color: #000;
  }

  .active {
    background-color: #4caf50;
  }

  .footer-bar {
    position: fixed;
    bottom: 0;
    width: 18%;
  }
}

.search-results {
  // margin-top: 4px;
  // border-radius: 4px;
  // background: $midDark;
  // position: fixed;
  opacity: 0;
  z-index: 1;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height .4s linear, opacity .3s linear;  

  div {
    padding: 8px 8px 8px 26px;
    cursor: pointer;
  }

  // div:hover {
  //   background: $lightDark;
  // }

  &.zactive {
    opacity: 1;
    max-height: 300px;
  }
}

.ck-editor__editable_inline {
  min-height: 25vh;
}

@media (max-width: $breakpointMobile) {
  .media-content {
    overflow: hidden !important;
  }

  .editor-view img {
    display: none;
  }
}
