<div class="editor-view" ref="editor-view">

  <div class="columns has-background-white-ter">
    <div class="column">
      <div class="content">
        <p class="title has-text-centered">ი. გ. შ. ა.</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">


      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image" id="thumb-image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong id="map-name">გეგმის სათაური</strong>
                <br>
                <small id="map-version">ვერსია: 0.0</small>
                <br>
                <small id="map-dimension">ზომები: 0x0</small>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">

                <a class="button is-rounded is-small" aria-label="reply" ref="gear-button">
                  <span class="icon">
                    <i class="fa fa-gear"></i>
                  </span>
                  <span>პარამეტრები</span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <hr>
      <div class="content">
        <!-- <div class="field">
          <label class="label">ობიექტების ფილტრი</label>
          <div class="control">
            <input class="input" type="text" placeholder="ფილტრი">
          </div>
        </div> -->

        <div class="field">
          <div class="select is-multiple is-fullwidth">
            <select multiple size="6" ref="object-list">

            </select>
          </div>
          <p class="help">აირჩიეთ ობიექტი ზემოთ მოცემულ ჩამონათვალში. ორჯერ თაგვის ღილაკის დაწკაპუნებით რედაქტირების
            ფანჯარა
            გაიხსნება.
            ხოლო გეგმაზე ობიექტის დასატანად იხმარეთ მარცზენა "ტულბარზე" არსებული პიქტოგრამები.</p>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <a class="button is-rounded" ref="addButton">
              <span class="icon is-small">+</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-rounded" ref="removeButton" disabled>
              <span class="icon is-small">-</span>
            </a>
          </p>

        </div>

      </div>


    </div>
  </div>
  <div class="columns footer-bar">
    <!-- <div class="column">
        <p class="help has-text-grey-dark">ექსპორტი geojson ფორმატში</p>
    </div> -->
    <div class="column">
      <div class="field is-grouped is-grouped-left">
        <a class="button is-light is-fullwidth" ref="exportButton">
          ფაილში შენახვა
        </a>
      </div>
    </div>
  </div>


  <div id="modal-editor-settings" ref="modal-editor-settings"></div>
  <div id="modal-editor-addedit" ref="modal-editor-addedit"></div>
  <div id="modal-editor-export" ref="modal-editor-export"></div>