<div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">გეგმის პარამეტრები</p>
            <button class="delete" aria-label="close" data-click-event="closeButton"></button>
          </header>
          <section class="modal-card-body">
      
            <div class="field">
              <label class="label">გეგმის ფოტო ფაილი</label>
              <div class="control">
                <div class="file">
                  <label class="file-label">
                    <input class="file-input" type="file" id="map-file" accept="image/x-png,image/gif,image/jpeg">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                      <span class="file-label" id="map-file-name">
                        აირჩიე ფაილი
                      </span>
                    </span>
                  </label>
      
                </div>
                <p class="help" id="map-file-summary"></p>
                <p class="help">აქ იგულისხმება
                  ნებისმიერი ფოტო სურათი. ფაილის ფორმატი შეიძლება იყოს (jpg, png, gif, ან სხვა...)</p>
                  
              </div>
            </div>
      
            <div class="field">
              <label class="label">გეგმის სახელი</label>
              <div class="control">
                <input class="input" type="text" placeholder="სახელი" id="map-name">
                <p class="help">გეგმის სახელი სასურველია ლათინურად შეავსოთ. ლათინური ტექსტი უფრო გასაგებია გუგლ ბოტისთვის
                  და SEO-ს შემთხვევაშიც.
                  გუგლ Ad-ებშიც ქართული ენის უქონლობის გამო, უფრო მართებულია ლათინური ტექსტის გამოყენება.
                </p>
              </div>
            </div>
      
            <div class="field">
                    <label class="label">გეგმის ვერსია</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="ვერსია" id="map-version">
                      <p class="help">გეგმის ვერსია - 0.1, 0.2, და ა.შ. თუ ძველი ვერსიის მომდევნო ვარიანტია 0.1-ი ვერსიით წანაცვლება სავალდებულოა.
                      </p>
                    </div>
                  </div>

            <div class="field">
              <label class="label">ცვლილების ჟურნალი</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea" id="map-changelog">საწყისი დრაფტი</textarea>
                <p class="help">ცვლილებების ჟურნალი გამოიყენება ვერსიებს შორის ცვლილებებს აღსაბეჭდად. 0.1 ვერსიაზე
                  (საწყისი ვერსია) 'საწყისი დრაფტი'
                  ასე არის შევსებული. ყოველი მომდევნო ვერსიის დროს, სავალდებულოა ასევე მიუთითოთ თუ რომელ ვერსიას ეკუთვნის ტექსტური შენიშვნები. მაგ:
                
                    <code>
                        ვერსია 0.1 ცვლილებები:

                        საწყისი დრაფტი

                        ვერსია 0.2 ცვლილებები:

                        ჩასწორდა სინტაქსური შეცდომა - ობიექტი #24
                        დაემატა ახალი ობიექტი #98
                    </code>
                </p>
              </div>
            </div>
      

      
      
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success is-rounded" data-click-event="saveButton">შენახვა</button>
            <button class="button is-rounded" data-click-event="cancelButton">გაუქმება</button>
          </footer>
        </div>
      </div>