<div class="modal is-clipped" id="legal-notice-modal">

    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">პროექტის შესახებ</p>
            <button class="delete close-button" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <button class="button is-small pull-right" disabled>
                    <p>ვერსია&nbsp;<span class="app-version"></span></p>
                </button>
            </div>
            <div class="content">
                <h5>გეგმის შესაქმნელი აპლიკაცია</h5>
                <p>ინტერაქტიული რუკების/გეგმების შესაქმნელი ვებ-აპლიკაცია. ინტერაქტიული რუკის სანახავად იხილეთ <a
                        href="https://www.gegma.ge" target="_blank">gegma.ge</a>
                    ვებ-გვერდი.
                    ვებ-აპლიკაცია შექმნილია კომპანია <a href="mailto:pick@picktek.com" target="_blank">"ფიქტეკ"-ის</a>
                    მიერ
                    და წარმოადგენს ვიკაიფოდ ერთად შემეცნებით პროექტს.
                </p>

                <p> პროექტში გამოყენებულია უამრავი ღია-კოდის ბიბლიოთეკები რომლის ჩამოთვლასაც აქ არ დავიწყებთ.
                    თუ დაგაინტერესებთ <a href="mailto:lashad@mac.com">მოგვწერეთ</a>.
                </p>
                <blockquote>გთხოვთ გაითვალისწინოთ, რომ აპლიკაცია შეიძლება შეიცავდეს ხარვეზებს. ხარვეზის აღმოჩენის
                    შემთხვევაში <a href="mailto:lashad@mac.com">დაგვიკავშირდით</a>
                </blockquote>
                <h5>კონტაქტი</h5>
                <blockquote>
                    <div class="columns">
                        <div class="column">
                            ა. ყაზბეგის გამზირი 24ბ.
                            მე-2 სართული #227, საქართველო, 0177 თბილისი
                        </div>
                        <div class="column">
                            <strong>
                                კითხვების შემთხვევაში დაგვიკავშირდით <a href="mailto:lasha@picktek.com">ელ-ფოსტაზე</a>
                            </strong>
                        </div>
                    </div>
                </blockquote>
                <h5>გამოყენებული მასალები</h5>
                <p>ფონტები</p>
                <ul>
                    <li><a href="https://bpgfonts.wordpress.com/2017/12/21/bpg-2017-dejavu-sans-extralight/"
                            target="_blank">„BPG 2017 DejaVu Sans ExtraLight“, ავტორი ბესარიონ გუგუშვილი</a></li>
                </ul>
                <h5>ცვლილებების ჟურნალი</h5>
                <blockquote id="changelog-placeholder">

                </blockquote>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-warning close-button is-medium">უჰუ</button>
        </footer>
    </div>
</div>