@import "../../_variables.scss";

.info-title {
  font-weight: bold;
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  h1 {
    letter-spacing: 0.2rem;
    max-width: 100%;
    padding: 20px;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.info-content {
  padding: 0 0 0 0;
  margin: 0 auto;
  // background: $grey-lighter;
  overflow-y: scroll;
  // font-size: 1rem;
  // line-height: 1.25em;
  // font-weight: 300;
}

.info-container {
  position: absolute;
  overflow-y: hidden;
  bottom: 0;
  right: 10px;
  background: $white-ter;
  width: $panelWidth;
  height: 60vh;
  transition: all 0.4s ease-in-out;
  transform: translateY(calc(100% - #{$footerHeight}));
  -webkit-box-shadow: -2px -2px 12px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px -2px 12px -4px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 12px -4px rgba(0,0,0,0.1);
}

.info-container.info-active {
  transform: translateY(0);
}

.info-body {
  margin-top: $footerHeight;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  // height: 80%;
}

.info-tap-content {
  padding: 20px;
  overflow-y: scroll;
  height: 45vh;
}

.info-footer {
  // font-size: 0.8rem;
  padding: 8%;
  text-align: center;
  text-transform: uppercase;
}

.blog-link {
  letter-spacing: 0.1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .info-container {
    left: 0;
    width: 100%;
    height: 80vh;
  }
}
