<div ref="container" class="info-container">
  <div ref="title" class="info-title">
    <h1 data-trn>Select User</h1>
  </div>
  <div class="info-body">
    <div class="info-content-container">
      <div ref="content" class="info-content">
        <div class="tabs is-toggle is-toggle-rounded is-centered">
          <ul>
            <li class="tab-details is-active">
              <a href="#" data-bind-clkcb="selectTabUser">
                User
              </a>
            </li>
            <li class="tab-details">
              <a href="#" data-bind-clkcb="selectTabDevices">
                Devices
              </a>
            </li>
          </ul>
        </div>
        <div class="info-tap-content">
          <div id="user-placeholder" class="tab-page"></div>
          <div id="devices-placeholder" class="is-hidden tab-page"></div>
        </div>
      </div>
    </div>
    <div class="info-footer">

    </div>
  </div>
</div>