<div class="left-side-bar">
    <aside class="menu">

        <!-- <div class="menu-label2">
                <button class="button is-rounded is-warning is-shadow-1">
                    <span class="icon">
                        <i class="fa fa-superpowers" aria-hidden="true"></i>
                    </span>
                </button>
            </div> -->


        <!-- <p class="menu-label">
                <h2 class="title">მენიუ</h2>
            </p> -->

        <p class="menu-label">
            <p class="subtitle" data-trn>Category List</p>
        </p>
        <ul class="menu-list">
            <li><a href="#" data-click-event="userList" ref="userList" data-trn>User List</a></li>
            <li><a href="#" data-click-event="paymentsList" ref="paymentsList" data-trn>Payments List</a></li>
        </ul>
    </aside>
</div>